<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/onlinecourse</property>
		<property name="hibernate.connection.username">gzhmt</property>
		<property name="hibernate.connection.password">rj17208zhl</property>
		<property name="hibernate.show_sql">true</property>
		<property name="format_sql">true</property>
		<mapping resource="com/livejq/domain/User.hbm.xml"/>
		<mapping resource="com/livejq/domain/Book.hbm.xml"/>
		<mapping resource="com/livejq/domain/Resource.hbm.xml"/>
		<mapping resource="com/livejq/domain/Theme.hbm.xml"/>
		<mapping resource="com/livejq/domain/Teacher.hbm.xml"/>
	</session-factory>
</hibernate-configuration>